# Project exclude paths
/module02-question01/target/
/module02-question02/target/
/module02-question03/target/
/module02-question04/target/
/module02-question05/target/
/module02-question06/target/
/module02-question07/target/
/module02-question08/target/
/module02-question09/target/